<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/threejs/r76/three.min.js"></script>
  </head>
  <body>
    
    
    <canvas id="c"></canvas>
    <script src="javascripts/code.js"></script>
  </body>
</html>
