<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/threejs/r76/three.min.js"></script>
    <script src="javascripts/code.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
